<!DOCTYPE html>
<html>
  <head>
    <title>Souvenir'd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
        	<li><a href="/logout">Logout</a></li>
			<li><a href="/forgot">Forgot username/password</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>